
.code-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  width: fit-content;
  min-width: 60rem;
  padding: 1rem 1.7rem;
  border-radius: 7px;
  background-color: var(--color-dark);
}
.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.code-language {
  font-size: var(--fontSize-xs);
  color: var(--color-gray);
}
.code-content {
  font-size: var(--fontSize-sm);
  color: var(--color-primary-light);
  /* white-space: pre-line; */
}
.code-copied{
  display: flex;
  justify-content: center;
  align-items: center;
}
.code-copy-img {
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.code-copy-img:hover {
  transform: scale(1.3);
}
.code-copy-img:active {
  transform: scale(1);
}
.text-copied{
  transition: all .2s ease-in;
  font-size: var(--fontSize-sm);
  color: var(--color-primary-light);
  font-weight: 200;
}