.home-container{
     max-width: 90%;
     margin: 0 auto;
     padding: 10rem;
     display: flex;
     flex-direction: column;
     gap: 2rem;
}
.home-container h2{
     color: var(--color-secondary);
}
.home-links{
     display: flex;
     flex-wrap: wrap;
     gap: 1.3rem;
}
.home-link{
     background-color: var(--color-secondary-dark);
     padding: 1rem 1.2rem;
     border: 1px solid var(--color-secondary-dark);
     border-radius: 3px;
     color: var(--color-white);
     font-weight: var(--fontWeight-bold);
     box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
     transition: all 0.2s ease-in;
}
.home-link:hover{
     background-color: var(--color-secondary-light);
     color: var(--color-secondary-dark);
}