.cours-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 1rem auto;
  max-width: 116rem;
  padding: 2rem;
  box-shadow: 0 0 1px 3px rgba(0, 0.1, 1, 0.1);
  position: relative;
}
.cours-title {
  color: var(--color-primary-dark);
  font-size: var(--fontSize-3xl);
}
.cours-section {
  color: var(--color-primary);
  font-size: var(--fontSize-xl);
}
li{
     font-size: var(--fontSize-lg);
     list-style: square;
     list-style-position: inside;
}
