.sideBar-container{
     min-width: 20rem;
     flex-basis: 30%;
     padding: .8rem;
     box-shadow: 0 0 12px 0px var(--color-primary-light);
}
.sideBar-container h4{
     color: var(--color-primary-dark);
}
.sideBar-container ul{
     list-style-type: none;
     margin-top: 1rem;
}
.sideBar-container ul li .link{
     margin-bottom: .5rem;
     cursor: pointer;
     color: var(--color-secondary);
     transition: all 0.3s ease;
}
.sideBar-container ul li .link:hover{
     color: var(--color-secondary-dark);
     transform: translateX(3px);
}