/* Start rules general */
:root {
  /* Font size */
  --fontSize-xs: 1.2rem;
  --fontSize-sm: 1.4rem;
  --fontSize-base: 1.6rem;
  --fontSize-lg: 1.8rem;
  --fontSize-xl: 2rem;
  --fontSize-2xl: 2.4rem;
  --fontSize-3xl: 3.2rem;
  --fontSize-4xl: 4rem;
  --fontSize-5xl: 4.8rem;
  --fontSize-6xl: 6.2rem;
  --fontSize-7xl: 7.2rem;
  /* Font weight */
  --fontWeight-light: 300;
  --fontWeight-regular: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  /* Line height */
  --lineHeight-xs: 1.1;
  --lineHeight-sm: 1.25;
  --lineHeight-base: 1.5;
  --lineHeight-lg: 1.75;
  --lineHeight-xl: 2;
  /* Colors */
  --color-primary: #ff6d23 ;
  --color-primary-dark: #cd5316;
  --color-primary-light: #fba377;
  --color-secondary: #b9cd05;
  --color-secondary-dark: #e6ff08;
  --color-secondary-light: #f9ffc0;
  --color-white: #fff;
  --color-light: #e6e6e6;
  --color-gray: #adb5bd;
  --color-dark: #212529;
  --color-black: #000;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: var(--fontWeight-medium);
  line-height: var(--lineHeight-base);
  color: var(--color-light);
  background-color: var(--color-dark);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  line-height: var(--lineHeight-sm);
}
h1 {
  font-size: var(--fontSize-3xl);
}
h2 {
  font-size: var(--fontSize-2xl);
}
h3 {
  font-size: var(--fontSize-xl);
}
h4 {
  font-size: var(--fontSize-lg);
}
p {
  font-size: var(--fontSize-base);
}
a {
  font-size: var(--fontSize-base);
  text-decoration: none;
  display: inline-block;
}
ul, ol{
  
  list-style-position: inside;
  margin-left: 1rem;
}
ul{
list-style-type: square;
}
li {
  font-size: var(--fontSize-base);
}
span {
  display: inline-block;
}
.container {
  max-width: 1320px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
@media (max-width: 38.75rem){
  /* 620 px / 16px = 38.75rem */
  html{
    font-size: 50%;
    /* 6px / 16px = 37.5% */
  }
}